[submodule "info"]
	path = info
	url = git@github.com:Oblomov/clinfo.git
[submodule "peak"]
	path = peak
	url = git@github.com:krrishnarraj/clpeak.git
[submodule "blas"]
	path = blas
	url = git@github.com:clMathLibraries/clBLAS.git
